# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*-cache.lib
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
